body {
    font-family: Verdana, Arial, sans-serif;
    text-align: center;
    background: url('res/thumb-1920-502329.jpg');
    background-size: cover;
}

h2 {
    font-weight: bold;
    font-size: 1.5em;
}

.font-shadow {
    text-shadow: 1px 1px 10px #fff, 1px 1px 10px #ccc;
}

#got {
    height: 160px;
    width: 600px;
    margin: 0 auto;
    background-image: url('res/bdacce1c110c0bae416c2fca92fc26ad.png');
    background-size: contain;

}

.day-container {
    border: 1px solid black;
    margin: 10px auto;
    height: 50px;
    width: 720px;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    line-height: 25px;
}

.episode {
    display: inline-block;
    border-left: 1px solid black;
    height: 50px;
    background-color: green;
    margin: 0;
}

.sleep {
    display: inline-block;
    height: 50px;
    background-color: lightgray;
    margin: 0;
    width: 100%;
}

#totals {
    color: lightgray;
    text-shadow: 1px 1px 10px #000, 1px 1px 10px #000;
    display: inline-block;
    margin: 20px auto 0 auto;
    font-weight: bold;
    text-align: left;
}

.flex-container {
    display: flex;
    margin: auto;
    justify-content: center;
}

.flex-container button {
    margin: 0 10px;
    border-radius: 5px;
}
